In [1]:


from planning.football import football_model
from planning.search import breadth_first_tree_search
from planning.planning import ForwardPlan
from team import Team
from game import Football
from field import Field
from team import Team
zones = [
    "Defense Left",
    "Defense Center",
    "Defense Right",

    "Midfield Left",
    "Midfield Center",
    "Midfield Right",

    "Attack Left",
    "Attack Center",
    "Attack Right"
]
field = Field("f1", 3, 3, zones)

In [2]:
# x = game.play()

In [3]:
# for i in range(1):
#     game = Football(team1, team2, field, 45)
#     x = game.play()
#     match[x.team_name] += 1

# match

In [4]:
from multiprocessing import Process
from time import sleep
import pandas as pd
from typing import List, Tuple

def run_group_matches(matches: List[Tuple[str, str]], group_name: str, iterations=30):
    df = pd.DataFrame(columns=['Team1', 'Team2', 'Wins1', "Wins2"])
    for t1,t2 in matches:
        team1 = Team(t2, field.field)
        team2 = Team(t1, field.field)

        Pros = []
        match = {
            team1.team_name: 0,
            team2.team_name: 0
        }

        def function_x():
            game = Football(team1, team2, field, 90)
            x = game.play()
            if x is not None:
                match[x.team_name] += 1
        
        for i in range(iterations):
            function_x()
        
        df.append({'Team1': team1.team_name, 'Team2': team2.team_name, 'Wins1': match[team1.team_name], 'Wins2': match[team2.team_name]}, ignore_index=True)
        print(df)
    df.dump_csv(f'{group_name}.csv')

group_A = [('qatar', 'ecuador'), ('qatar', 'senegal'), ('qatar', 'netherlands'), ('ecuador', 'senegal'), ('ecuador', 'netherlands'), ('senegal', 'netherlands')]
group_B = [('england', 'iran'), ('england', 'usa'), ('england', 'wales'), ('iran', 'usa'), ('iran', 'wales'), ('usa', 'wales')]
group_C = [('argentina', 'saudi-arabia'), ('argentina', 'mexico'), ('argentina', 'poland'), ('saudi-arabia', 'mexico'), ('saudi-arabia', 'poland'), ('mexico', 'poland')]
group_D = [('france', 'australia'), ('france', 'denmark'), ('france', 'tunisia'), ('australia', 'denmark'), ('australia', 'tunisia'), ('denmark', 'tunisia')]
group_E = [('spain', 'costa-rica'), ('spain', 'germany'), ('spain', 'japan'), ('costa-rica', 'germany'), ('costa-rica', 'japan'), ('germany', 'japan')]
group_F = [('belgium', 'canada'), ('belgium', 'morocco'), ('belgium', 'croatia'), ('canada', 'morocco'), ('canada', 'croatia'), ('morocco', 'croatia')]

matches = [("portugal", "ghana"),('portugal', 'uruguay'),('portugal', 'south-korea'),('ghana', "uruguay"),('ghana', "south-korea"),("uruguay", "south-korea")]

run_group_matches(group_A, 'group_A', 1)
# df = pd.DataFrame(columns=['Team1', 'Team2','Wins1', "Wins2"])

# for t1,t2 in matches:
#     team1 = Team(t2, field.field)
#     team2 = Team(t1, field.field)


#     Pros = []
#     match = {
#         team1.team_name: 0,
#         team2.team_name: 0
#     }

#     def function_x():
#         game = Football(team1, team2, field, 90)
#         x = game.play()
#         if x is not None:
#             match[x.team_name] += 1
     

#     for i in range(10):
#         function_x()
    
#     df.append({'Team1': team1.team_name, 'Team2': team2.team_name, 'Wins1': match[team1.team_name], 'Wins2': match[team2.team_name]}, ignore_index=True)
#     print(df)

Start Game
Initialization Complete
Player Akram-afif is shooting
Gonzalo-plata now has the ball
ecuador  now has the ball
Player Gonzalo-plata is shooting
Gonzalo-plata Goooooooalll
Almoez-ali now has the ball
qatar  now has the ball
Player Almoez-ali is shooting
Alexander-dominguez now has the ball
ecuador  now has the ball
Piero-hincapie now has the ball
Angel-mena now has the ball
Player Angel-mena is shooting
Angel-mena Goooooooalll
Almoez-ali now has the ball
qatar  now has the ball
Player Almoez-ali is shooting
Alexander-dominguez now has the ball
ecuador  now has the ball
Piero-hincapie now has the ball
Angel-mena now has the ball
Player Angel-mena is shooting
Ismael-mohammed now has the ball
qatar  now has the ball
Player Ismael-mohammed is shooting
Alexander-dominguez now has the ball
ecuador  now has the ball
Piero-hincapie now has the ball
Angel-mena now has the ball
Player Angel-mena is shooting
Angel-mena Goooooooalll
Akram-afif now has the ball
qatar  now has the ball
Player Akram-afif is shooting
Alexander-dominguez now has the ball
ecuador  now has the ball
Piero-hincapie now has the ball
Angel-mena now has the ball
Player Angel-mena is shooting
Mostafa-mashaal now has the ball
qatar  now has the ball

In [ ]:
# match

{'germany': 0, 'argentina': 1}

In [ ]:
# print(match)

{'germany': 0, 'argentina': 1}

     Team1      Team2 Wins1 Wins2
0  germany  argentina     0     1

In [ ]:
# df.dump_csv("group_h.csv")

In [ ]:
# df

   germany  argentina
0      0.0        1.0

In [ ]:

# matches = [("brazil", "serbia"),("brazil", 'switzerland'),('brazil', 'cameroon'),('serbia', "switzerland"),('serbia', "cameroon"),("switzerland", "cameroon")]
# df = pd.DataFrame(columns=['Team1', 'Team2','Wins1', "Wins2"])

# for t1,t2 in matches:
#     team1 = Team(t2, field.field)
#     team2 = Team(t1, field.field)


#     Pros = []
#     match = {
#         team1.team_name: 0,
#         team2.team_name: 0
#     }

#     def function_x():
#         game = Football(team1, team2, field, 90)
#         x = game.play()
#         if x is not None:
#             match[x.team_name] += 1
     

#     for i in range(10):
#         function_x()
    
#     df.append({'Team1': team1.team_name, 'Team2': team2.team_name, 'Wins1': match[team1.team_name], 'Wins2': match[team2.team_name]}, ignore_index=True)
#     print(df)

In [ ]:
# df.dump_csv("group_g.csv")