In [36]:
import seaborn as sns
import pandas as pd
import json

In [37]:
df = pd.read_csv('results.csv')
with open('groups.json') as f:
    groups = json.load(f)
groups

{'A': ['qatar', 'ecuador', 'senegal', 'netherlands'],
 'B': ['england', 'iran', 'usa', 'wales'],
 'C': ['argentina', 'saudi-arabia', 'mexico', 'poland'],
 'D': ['france', 'australia', 'denmark', 'tunisia'],
 'E': ['spain', 'costa-rica', 'germany', 'japan'],
 'F': ['morocco', 'croatia', 'belgium', 'canada'],
 'G': ['brazil', 'serbia', 'switzerland', 'cameroon'],
 'H': ['portugal', 'ghana', 'uruguay', 'south-korea']}

In [38]:
import matplotlib.pyplot as plt
labels = [i for i in df["Team"]]
fig, ax = plt.subplots(figsize=(10,10))
ax = sns.heatmap(data=df[["8th Finals","4th Finals", "Semi Finals", "Final", "Winner"]],vmin=0,vmax=1,linewidths=2, linecolor='yellow',yticklabels=labels, annot=True)
plt.savefig(f"results.jpg", dpi=1000 )
plt.close()

In [39]:
df

,Team,1st Group,2nd Group,8th Finals,4th Finals,Semi Finals,Final,Winner,Third
0,argentina,0.77,0.16,0.93,0.70,0.52,0.25,0.16,0.00
1,australia,0.08,0.42,0.50,0.13,0.04,0.01,0.00,0.00
2,belgium,0.47,0.24,0.71,0.45,0.31,0.22,0.11,0.31
3,brazil,0.59,0.22,0.81,0.63,0.40,0.22,0.12,0.40
4,cameroon,0.09,0.26,0.35,0.22,0.09,0.04,0.02,0.09
5,canada,0.09,0.15,0.24,0.08,0.05,0.02,0.00,0.05
6,costa-rica,0.06,0.12,0.18,0.04,0.01,0.01,0.00,0.01
7,croatia,0.12,0.27,0.39,0.14,0.04,0.01,0.00,0.04
8,denmark,0.16,0.40,0.56,0.11,0.03,0.01,0.01,0.00
9,ecuador,0.07,0.20,0.27,0.04,0.01,0.01,0.00,0.00
10,england,0.80,0.12,0.92,0.68,0.37,0.21,0.12,0.00
11,france,0.76,0.17,0.93,0.71,0.48,0.27,0.18,0.00
12,germany,0.49,0.32,0.81,0.51,0.33,0.21,0.10,0.33
13,ghana,0.04,0.29,0.33,0.02,0.01,0.00,0.00,0.01
14,iran,0.06,0.38,0.44,0.18,0.03,0.02,0.00,0.00
15,japan,0.09,0.24,0.33,0.12,0.05,0.03,0.03,0.05
16,mexico,0.11,0.38,0.49,0.14,0.07,0.03,0.00,0.00
17,morocco,0.32,0.34,0.66,0.35,0.10,0.06,0.02,0.10
18,netherlands,0.52,0.40,0.92,0.52,0.23,0.08,0.04,0.00
19,poland,0.12,0.36,0.48,0.21,0.10,0.04,0.01,0.00
20,portugal,0.80,0.13,0.93,0.46,0.22,0.06,0.02,0.22
21,qatar,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
22,saudi-arabia,0.00,0.10,0.10,0.00,0.00,0.00,0.00,0.00
23,senegal,0.41,0.40,0.81,0.36,0.10,0.06,0.01,0.00
24,serbia,0.25,0.28,0.53,0.36,0.16,0.05,0.02,0.16
25,south-korea,0.10,0.31,0.41,0.10,0.04,0.01,0.00,0.04
26,spain,0.36,0.32,0.68,0.31,0.08,0.03,0.02,0.08
27,switzerland,0.07,0.24,0.31,0.16,0.09,0.02,0.00,0.09
28,tunisia,0.00,0.01,0.01,0.00,0.00,0.00,0.00,0.00
29,uruguay,0.06,0.27,0.33,0.05,0.02,0.01,0.01,0.02
30,usa,0.11,0.42,0.53,0.20,0.02,0.01,0.00,0.00
31,wales,0.03,0.08,0.11,0.02,0.00,0.00,0.00,0.00